<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User details</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/dcodeIO/protobuf.js/6.11.2/dist/protobuf.js"></script>


    </script>
  </head>

  <body>
<style media="screen">
  body{
    background-image: url("/assets/images/back.jpg");
  }
</style>

<script type="text/javascript">


  function encodeProtobufToBase64(buffer){
    var u8 = new Uint8Array(buffer);
    var decoder = new TextDecoder('utf8');
    var b64encoded = btoa(decoder.decode(u8));

    return b64encoded;
  }

  function decodeBase64ToProtobuf(b64encoded){
    var base64 = b64encoded
    var raw = window.atob(base64);
    var rawLength = raw.length;
    var array = new Uint8Array(new ArrayBuffer(rawLength));

    for(i = 0; i < rawLength; i++) {
      array[i] = raw.charCodeAt(i);
    }
    console.log("decoded to uint8array",array)

    return array
  }





</script>
    <header><h1>User details page </h1>

    </header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#get-user">Get User details</a></li>
        <li><a href="#add-user">Add User</a></li>
        <li><a href="#update-user">Update User</a></li>
      </ul>
    </nav>

    <div id="get-user">
      <h2>Get user details</h2>
      User details are- {{.}}
      </script>
      <form class="" action="/assignment/user" method="get">
        <input type="number" name="proto_body" value="" id="user-id" placeholder="id">
        <input type="button"  value="Get user details" id="submit-btn">
        <div class="" id="result">
            <div class="" id="emp-id"></div>
            <span class="" id="first-name"></span><span id="last-name"></span>
            <div class="" id="designation"></div>
            <div class="" id="email"></div>

        </div>
      </form>

      <script type="text/javascript">
      var id= document.getElementById("user-id")
      var email= document.getElementById("email")
      var first_name= document.getElementById("first-name")
      var last_name= document.getElementById("last-name")
      var designation= document.getElementById("designation")
      var emp_id= document.getElementById("emp-id")


      var url="http://localhost:80/assignment/user";
      var params="proto_body=";

      var data="";

      $(document).ready(function() {
        $("#submit-btn").click(function(event) {


          console.log("button clicked")
          /* Act on the event */

          var payload = {
                UserId:id.value,
          };

            protobuf.load('/assets/user/user.proto',
              function(err,root){
              /* Stuff to do after the page is loaded */
              if (err)
                throw err;


                var oReq = new XMLHttpRequest();
                //same as onload function also
                oReq.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                       // Typical action to be performed when the document is ready:
                       //document.getElementById("result").innerHTML = oReq.responseText;
                       var arrayBuffer = oReq.response; // Note: not oReq.responseText
                       if (arrayBuffer) {
                         var byteArray = new Uint8Array(arrayBuffer);

                         for (var i = 0; i < byteArray.byteLength; i++) {
                           // do something with each byte in the array
                           //var a=document.getElementById("result").insertAdjacentHTML('beforeend', byteArray[i])
                         }
                       }

                    }
                };

              var User= root.lookupType("user.User")

            // Verify the payload if necessary (i.e. when possibly incomplete or invalid)
            var errMsg = User.verify(payload);
            if (errMsg)
                throw Error(errMsg);

            // Create a new message
            var message = User.create(payload); // or use .fromObject if conversion is necessary

            // Encode a message to an Uint8Array (browser) or Buffer (node)
            var buffer = User.encode(message).finish();
            // ... do something with buffer
            console.log("the buffer from payload is",buffer)
            var b64encoded=encodeProtobufToBase64(buffer)
            // var u8 = new Uint8Array(buffer);
            // var decoder = new TextDecoder('utf8');
            // var b64encoded = btoa(decoder.decode(u8));
            params="proto_body="+b64encoded;

            console.log("base64 encoded msg",b64encoded)

            console.log("params value",params)
            oReq.open("GET", url+"?"+params, true);
            oReq.responseType = "arraybuffer";

            oReq.onload = function (oEvent) {
              window.history.pushState("object or string", "Title", url+"?"+params);
              var arrayBuffer = oReq.response; // Note: not oReq.responseText

              if (arrayBuffer) {

                var byteArray = new Uint8Array(arrayBuffer);

                var message = User.decode(byteArray);

                var object = User.toObject(message, {
                    longs: String,
                    enums: String,
                    bytes: String,
                    });


                  console.log( "protobuf correct decoding message",message);
                  console.log( "protobuf correct decoding object",object)
                  email.innerHTML=object.Email
                  designation.innerHTML=object.Designation
                  first_name.innerHTML=object.FirstName
                  last_name.innerHTML=object.LastName
                  emp_id.innerHTML=object.EmployeeId
              }

            };

            oReq.send();
            //decode from base 64 to Uint8Array

            // var base64 = b64encoded
            // var raw = window.atob(base64);
            // var rawLength = raw.length;
            // var array = new Uint8Array(new ArrayBuffer(rawLength));
            //
            // for(i = 0; i < rawLength; i++) {
            //   array[i] = raw.charCodeAt(i);
            // }
            // console.log("decoded to uint8array",array)
            //
            // var msg=User.decode(array);
            // console.log("proto body decoded",message)


            });

        });
      });



      </script>
    </div>

    <div id="add-user">
      <h2>Add user details</h2>

      <form class="" action="/assignment/user" method="post">
        <input type="text" name="first_name_post" value="" id="first-name-post" placeholder="first name">
        <br />
        <input type="text" name="last_name_post" value="" id="last-name-post"placeholder="last name">
        <br />
        <input type="text" name="designation_post" value="" id="designation-post" placeholder="designation">
        <br />
        <input type="text" name="email_post" value="" id="email-post" placeholder="email">
        <br />
        <input type="button" name="" value="ADD USER" id="submit-btn-post">
        <br />
      </form>

      <script type="text/javascript">

      var first_name_post=document.getElementById("first-name-post")
      var last_name_post= document.getElementById("last-name-post")
      var designation_post=document.getElementById("designation-post")
      var email_post=document.getElementById("email-post")



            $(document).ready(function() {
              $("#submit-btn-post").click(function(event) {


                console.log("button clicked")
                /* Act on the event */

                window.history.pushState("object or string", "Title", url);

                var first_name_post_val= first_name_post.value ;
                var last_name_post_val= last_name_post.value ;
                var designation_post_val= designation_post.value ;
                var email_post_val= email_post.value ;


                var payload={
                FirstName:first_name_post_val,
                LastName:last_name_post_val,
                Designation:designation_post_val,
                Email:email_post_val
                 };

                  protobuf.load('/assets/user/user.proto',
                    function(err,root){
                    /* Stuff to do after the page is loaded */
                    if (err)
                      throw err;


                      var oReq = new XMLHttpRequest();
                      //same as onload function also
                      oReq.onreadystatechange = function() {
                          if (this.readyState == 4 && this.status == 200) {
                             // Typical action to be performed when the document is ready:
                             //document.getElementById("result").innerHTML = oReq.responseText;
                             var arrayBuffer = oReq.response; // Note: not oReq.responseText
                             if (arrayBuffer) {
                               var byteArray = new Uint8Array(arrayBuffer);

                               for (var i = 0; i < byteArray.byteLength; i++) {
                                 // do something with each byte in the array
                                 //var a=document.getElementById("result").insertAdjacentHTML('beforeend', byteArray[i])
                               }
                             }

                          }
                      };

                    var User= root.lookupType("user.User")

                  // Verify the payload if necessary (i.e. when possibly incomplete or invalid)
                  var errMsg = User.verify(payload);
                  if (errMsg)
                      throw Error(errMsg);

                  // Create a new message
                  var message = User.create(payload); // or use .fromObject if conversion is necessary

                  // Encode a message to an Uint8Array (browser) or Buffer (node)
                  var buffer = User.encode(message).finish();
                  // ... do something with buffer
                  console.log("the buffer from payload is",buffer)
                  //var b64encoded=encodeProtobufToBase64(buffer)

                  //params="proto_body="+b64encoded;
                  data=buffer;

                  //console.log("base64 encoded msg",b64encoded)

                  console.log("DATA value",data)
                  oReq.open("POST", url, true);
                  oReq.responseType = "arraybuffer";

                  oReq.onload = function (oEvent) {
                    //window.history.pushState("object or string", "Title", url+"?"+params);
                    var arrayBuffer = oReq.response; // Note: not oReq.responseText

                    if (arrayBuffer) {

                      var byteArray = new Uint8Array(arrayBuffer);

                      var message = User.decode(byteArray);

                      var object = User.toObject(message, {
                          longs: String,
                          enums: String,
                          bytes: String,
                          });


                        console.log( "protobuf correct decoding message",message);
                        console.log( "protobuf correct decoding object",object)

                    }

                  };

                  //oReq.send(new Uint8Array([1,2,3,4,5]));
                  oReq.send(data);
                  console.log("data sent")


                  });

              });
            });


      </script>
    </div>

    <div id="update-user">
      <h2>Update user details</h2>

      <form class="" action="index.html" method="post">
        <input type="text" name="user_id_patch" value="" id="user-id-patch" placeholder="user id">
        <input type="text" name="email_patch" value="" id="email-patch" placeholder="email">
        <input type="button" name="" value="UPDATE EMAIL" id="submit-btn-patch">
      </form>

      <script type="text/javascript">

      var user_id_patch=document.getElementById("user-id-patch");
      var email_patch=document.getElementById("email-patch");

      $(document).ready(function() {
        $("#submit-btn-patch").click(function(event) {
          /* Act on the event */
          console.log("button clicked")
          /* Act on the event */
          user_id_patch_val=user_id_patch.value;
          email_patch_val=email_patch.value

          window.history.pushState("object or string", "Title", url);



          var payload={
          UserId:user_id_patch_val,
          Email:email_patch_val
           };

            protobuf.load('/assets/user/user.proto',
              function(err,root){
              /* Stuff to do after the page is loaded */
              if (err)
                throw err;


                var oReq = new XMLHttpRequest();
                //same as onload function also
                oReq.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                       // Typical action to be performed when the document is ready:
                       //document.getElementById("result").innerHTML = oReq.responseText;
                       var arrayBuffer = oReq.response; // Note: not oReq.responseText
                       if (arrayBuffer) {
                         var byteArray = new Uint8Array(arrayBuffer);

                         for (var i = 0; i < byteArray.byteLength; i++) {
                           // do something with each byte in the array
                           //var a=document.getElementById("result").insertAdjacentHTML('beforeend', byteArray[i])
                         }
                       }

                    }
                };

              var User= root.lookupType("user.User")

            // Verify the payload if necessary (i.e. when possibly incomplete or invalid)
            var errMsg = User.verify(payload);
            if (errMsg)
                throw Error(errMsg);

            // Create a new message
            var message = User.create(payload); // or use .fromObject if conversion is necessary

            // Encode a message to an Uint8Array (browser) or Buffer (node)
            var buffer = User.encode(message).finish();
            // ... do something with buffer
            console.log("the buffer from payload is",buffer)
            //var b64encoded=encodeProtobufToBase64(buffer)

            //params="proto_body="+b64encoded;
            data=buffer;

            //console.log("base64 encoded msg",b64encoded)

            console.log("DATA value",data)
            oReq.open("PATCH", url, true);
            oReq.responseType = "arraybuffer";

            oReq.onload = function (oEvent) {
              //window.history.pushState("object or string", "Title", url+"?"+params);
              var arrayBuffer = oReq.response; // Note: not oReq.responseText

              if (arrayBuffer) {

                var byteArray = new Uint8Array(arrayBuffer);

                var message = User.decode(byteArray);

                var object = User.toObject(message, {
                    longs: String,
                    enums: String,
                    bytes: String,
                    });


                  console.log( "protobuf correct decoding message",message);
                  console.log( "protobuf correct decoding object",object)

              }

            };

            //oReq.send(new Uint8Array([1,2,3,4,5]));
            oReq.send(data);
            console.log("data sent")


            });

        });
      });

      </script>
    </div>


  </body>
</html>
